@font-face {
  font-family: 'Lakeshore Drive';
  src: url('./LAKESHOR-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dymaxion Script';
  src: url('./DymaxionScript-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Silkscreen';
  src: url('./slkscr-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Silkscreen';
  src: url('./slkscrb-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Silkscreen';
  src: url('./slkscre-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Silkscreen';
  src: url('./slkscreb-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
