.scores {
  padding: 3em 0 0;
  font-family: 'Silkscreen';

  &__heading {
    font-size: 2em;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    
    &__item {
      margin: 0 0 0.5em;
      display: flex;
      color: #fff;
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.2em;

      &--header {
        font-weight: bold;
        background: rgba(255, 255, 255, 0.8);
        color: rgba(0,0,0,0.6);
        padding: 0.3em 0;
        font-size: 1em;
      }

      &--none {
        display: block;
        text-align: center;
      }

      &--first {
        color: #F9CB40;
        font-size: 1.6em;
      }
      &--second {
        color: #808080;
        font-size: 1.4em;
      }
      &--third {
        color: #D76B05;
        font-size: 1.3em;
        margin: 0 0 1em;
      }

      &__position {
        flex: 1;
        text-align: center;
      }
      
      &__score {
        flex: 1;
        text-align: left;
      }
      &__name {
        flex: 1;
        text-align: center;
      }
      &__time {
        flex: 3;
        text-align: center;
      }
    }
  }
}
