.container {
  position: relative;
  width: 400px;
  height: 300px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
