.tracklist {
  text-align: left;
  display: flex;
  width: 100%;
  font-family: 'Silkscreen';
  font-size: 1.2em;
  padding: 4px 6px;
  background: none;
  -webkit-appearance: none;
  border: none;
  margin-bottom: 0.4em;
  cursor: pointer;

  &--easy {
    color: #BCED09;
  }

  &--selected {
    background: #fff;
    color: #1B2021;
  }

  &--disabled {
    cursor: default;
    opacity: 0.3;
    position: relative;

    &:after {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      top: 50%;
      border-top: 3px dashed #FF715B;
    }
  }

  &__holder {
    width: 70%;
    margin: 0 auto;
  }

  &__difficulty {
    flex: 0.6;
    margin-right: 10px;
    opacity: 0.5;
  }
  &__name {
    flex: 3;
    margin-right: 10px;
  }
  &__artist {
    flex: 2;
    text-align: right;
    opacity: 0.5;
  }

  &__select {
    background: none;
    -webkit-appearance: none;
    border: none;
    font-family: 'Silkscreen';
    background: #1160FA;
    color: #fff;
    font-size: 2em;
    padding: 0.4em 1em;
    margin: 1em 0;
    cursor: pointer;
  }
}
