.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1B2021;
  color: #F9CB40;
  overflow: hidden;

  &__center {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.titleFace {
  font-family: 'Dymaxion Script';
  font-size: 5em;
  font-weight: normal;
  text-align: center;
  -webkit-text-stroke: 4px #F9CB40;
  -webkit-animation: hotline-miami 3.5s ease-out infinite, rotator 7.5s ease-out infinite;
  position: relative;
}

@keyframes rotator {
  5% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg) scale(0.9,0.9);
  }
  35% {
    transform: rotate(-2deg) scale(1,1);
  }
  50% {
    transform: rotate(5deg) scale(1.2,1.2);
  }
  75% {
    transform: rotate(-5deg) scale(0.9,0.9);
  }
  95% {
    transform: rotate(0deg);
  }
}

@keyframes hotline-miami {
  5% {
    text-shadow: none;
    margin-left: 0;
    -webkit-text-stroke: 4px #F9CB40;
  }

  45%, 55% {
    margin-left: 1em;
    -webkit-text-stroke: 4px #FFF;
    text-shadow:
      -4px 0 #fff,
      -8px 0 #FFE6E9,
      -12px 0 #FFD4DA,
      -16px 0 #FCBCC5,
      -20px 0 #FEA9B6,
      -24px 0 #FC95A6,
      -28px 0 #FF8297,
      -32px 0 #FF738B,
      -36px 0 #FF647E,
      -40px 0 #FF516E,
      -44px 0 #FF3F5F,
      -48px 0 #FF2D50,
      -52px 0 #FF2045,
      -56px 0 #FC143A,
      -60px 0 #FC0C34,
      -64px 0 #FF001F;
  }
}
