.inputName {
  font-family: 'Silkscreen';
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 50%;
  height: 90%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  
  &__heading {
    font-weight: normal;
    font-size: 3em;
    width: 90%;
    margin: 0 auto;
    animation: colorize-text 3.6s ease-in-out infinite, rotator 7.5s ease-out infinite;    
  }

  &__score {
    font-size: 2em;
  }

  &__name {
    font-size: 1.4em;
    padding: 1.5em 0 0;
  }

  &__input {
    list-style: none;
    display: flex;
    font-size: 3em;
    justify-content: center;
    margin: 0;
    padding: 0;
    
    &__item {
      border: 4px dashed #fff;
      display: block;
      height: 1em;
      width: 1em;
      padding: 0.2em 0;
      margin: 0 0.3em 1em 0.3em;
      animation: colorize-border-text 4s ease-in-out infinite;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    font-size: 2em;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;

    &__item {
      padding: 0.2em 0.3em;
      margin: 0.5em 0.3em;
      flex: 1;
      
      &__button {
        -webkit-appearance: none;
        border: 0;
        padding: 0.3em 0.5em;
        font-family: 'Silkscreen';
        font-size: 1em;
        cursor: pointer;
        background: #fff;
        animation: colorize-bg 5.6s ease-in-out infinite;
        
        &--delete {
          background: #999;
          animation: none;
        }
        &--ok {
          background: #BCED09;
          animation: none;
        }
      }
    }
  }
}

@keyframes colorize-bg {
  0%, 100% {
    background: #fff;
  }
  40% {
    background: #F9CB40;
  }
  80% {
    background: #1160FA;
  }
}
@keyframes colorize-border-text {
  0%, 100% {
    border-color: #F9CB40;
    color: #F9CB40;
  }
  40% {
    border-color: #fff;
    color: #fff;
  }
  80% {
    border-color: #1160FA;
    color: #1160FA;
  }
}
@keyframes colorize-text {
  0%, 100% {
    color: #F9CB40;
  }
  40% {
    color: #1160FA;
  }
  80% {
    color: #fff;
  }
}
@keyframes rotator {
  5% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg) scale(0.9,0.9);
  }
  35% {
    transform: rotate(-2deg) scale(1,1);
  }
  50% {
    transform: rotate(5deg) scale(1.2,1.2);
  }
  75% {
    transform: rotate(-5deg) scale(0.9,0.9);
  }
  95% {
    transform: rotate(0deg);
  }
}

