.gameStage {
  font-family: 'Silkscreen';
  font-size: 1.2em;

  &:after {
    content: '';
    z-index: 9;
    width: 100%;
    height: 1px;
    display: block;
    left: 0;
    top: 52px;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
  }

  &__score {
    position: absolute;
    bottom: 1em;
    right: 2em;
    font-size: 2em;
    padding: 0;
    margin: 0;
    color: #FF715B;
    -webkit-animation: colorize 3.6s ease-in-out infinite, rotator 7.5s ease-out infinite;    
  }

  &__difficulty {
    position: absolute;
    bottom: 2em;
    left: 2em;
    font-size: 1em;
    padding: 0;
    margin: 0;
    color: #FF715B;
    -webkit-animation: colorize 5.6s ease-in-out infinite, rotator 9.5s ease-out infinite;    
  }

  &__timer {
    display: none;
  }
  &__emotion {
    display: none;
  }

  &__needle {
    position: absolute;
    width: 1em;
    top: 50px;
    left: 0;
    z-index: 10;
    transform: translateX(-50%);
    transition: all 0.3s;

    &__emotion {
      position: absolute;
      top: 30px;
      left: 50%;
      z-index: 10;
      width: 100px;
      left: 50%;
      transform: translateX(-51%);
      display: block;
      text-align: center;
      text-shadow: 0 0 20px #000;

      &:after {
        content: ' ';
        width: 28px;
        height: 28px;
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-45%);
        border-radius: 50%;
        background: #ED9F23;
      }
    }
    
    &:after, &:before {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    
    &:after {
      border-color: transparent;
      border-top-color: #E89005;
      border-width: 100px 10px 0 0;
      margin-left: 25%;
    }
    &:before {
      border-color: transparent;
      border-top-color: #D76B05;
      border-width: 100px 10px 0;
      margin-left: 0;
    }
  }

  &__buttons {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;

    &__abort, &__start {
      background: none;
      -webkit-appearance: none;
      border: none;
      font-family: 'Silkscreen';
      background: #FF715B;
      color: #fff;
      font-size: 1em;
      padding: 0.4em 1em;
      margin: 1em 0;
      cursor: pointer;  
    }
    
    &__start {
      background: #BCED09;
    }
  }
}

@keyframes colorize {
  0%, 100% {
    color: #FF715B;
  }
  40% {
    color: #F9CB40;
  }
  80% {
    color: #BCED09;
  }
}

@keyframes rotator {
  5% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg) scale(0.9,0.9);
  }
  35% {
    transform: rotate(-2deg) scale(1,1);
  }
  50% {
    transform: rotate(5deg) scale(1.2,1.2);
  }
  75% {
    transform: rotate(-5deg) scale(0.9,0.9);
  }
  95% {
    transform: rotate(0deg);
  }
}
